*~
.DS_Store
build
screenshots/*/*.png
workspace/DerivedData
workspace.xml
xcuserdata/
.idea

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
fastlane/test_output
*.app.dSYM.zip
*.ipa
*.mobileprovision

Pods